#index_bottom_nav{
	width:100%;
	position:fixed;
	bottom:0;
	left:0;
	background:white;
	z-index: 100;
	text-align:center;
}
#index_bottom_nav li{
	width:33%;
}
#index_bottom_nav li:last-child{
	width:34%;
}
#index_bottom_nav >li+li{
	margin-left:0;
}