{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
		<form id="signupform" method="POST" action="">
			{% csrf_token %}
			<h2 class="text-center">회원가입</h2>
			{% if error %}
				<h3>* {{ error }}</h3>
			{% endif %}
			<div class="form-group">
				<label for="id_username">아이디</label>
				<input type="text" class="form-control" id="id_username" name="username" autofocus="autofocus" required="required">
			</div>
			<div class="form-group">
				<label for="id_email">이메일</label>
				<input type="email" class="form-control" id="id_email" name="email" required="required">
			</div>
			<div class="form-group">
				<label for="id_password1">비밀번호</label>
				<input type="password" class="form-control" id="id_password1" name="password1" required="required">
			</div>
			<div class="form-group">
				<label for="id_password2">비밀번호 확인</label>
				<input type="password" class="form-control" id="id_password2" name="password2" required="required">
			</div>
			<button class="btn btn-lg btn-primary btn-block" type="submit">제출하기</button>
		</form>
	</div>
</div>


{% endblock %}
