{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-6">
		{% if name.logo %}
		<img class="img-responsive" src="{{brand.logo.url}}" />
		{% else %}
		<p class="text-center">이미지 준비중</p>
		{% endif %}
	</div>
	<div class="col-xs-6">
		<h5>{{ name }}</h5>
		<h5>{{ brand.urladdress }}</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	누적평가 별표 몇 점
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	사람들의 평가들
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-lg btn-primary pull-right" href="{% url 'writeboard' brand.url %}">리뷰남기기</a>
	</div>
</div>
{% endblock %}