{% extends "base.html" %}

{% block content %}

<div class="row">
	<div class="col-xs-6">
		{% if product.productimg %}
		<img class="img-responsive" src="{{product.productimg.url}}" />
		{% else %}
		<p class="text-center">이미지 준비중</p>
		{% endif %}
	</div>
	<div class="col-xs-6">
		<h5>{{ product.brand }}</h5>
		<h5>{{ product.title }}</h5>
		<h5>{{ product.price }}</h5>
		<h5>{{ product.urladdress }}</h5>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	평점: {{score_avg}}
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
	사람들의 평가
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<a class="btn btn-lg btn-primary pull-right" href="{% url 'branddetail' product.brand.url %}">브랜드 보기</a>
	</div>
</div>
{% endblock %}