{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-4">유저사진</div>
	<div class="col-xs-8">
		<h5>닉네임</h5>
		<p>안녕하세요 누구누구입니다.</p>
		<p>작성한 리뷰 총 3개</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-4">제품사진</div>
	<div class="col-xs-8">
		<h6>브랜드</h6>
		<h5>브라질리언 스크럽</h5>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-4">평점</div>
	<div class="col-xs-8">
	별 몇 개
	</div>
</div>
<div class="row">
	<div class="col-xs-4">코멘트</div>
	<div class="col-xs-8">
	아주 훌륭한 제품입니다.
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-4">댓글닉1</div>
	<div class="col-xs-8">
	댓글내용 쫘라라라1
	</div>
</div>
<div class="row">
	<div class="col-xs-4">댓글닉2</div>
	<div class="col-xs-8">
	댓글내용 쫘라라라2
	</div>
</div>
<div class="row">
	<div class="col-xs-4">댓글닉3</div>
	<div class="col-xs-8">
	댓글내용 쫘라라라3
	</div>
</div>
{% endblock %}