{% extends "base.html" %}

{% block content %}
<div class="row">
	<div class="col-xs-4">
		<img class="img-responsive" src="{{ review.author.profile.profileimg.url }}" />
	</div>
	<div class="col-xs-8">
		<h5>{{ review.author.profile.nickname }}</h5>
		<p>{{ review.author.profile.bio }}</p>
		<p>작성한 리뷰 총 {{ author_written_reviews_count }} 개</p>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-4">
		<img class="img-responsive" src="{{ review.product.productimg.url }}" />
	</div>
	<div class="col-xs-8">
		<h6>브랜드 : {{ review.product.brand.name }}</h6>
		<h5>제품명 : {{ review.product }}</h5>
	</div>
</div>
<hr/>
<div class="row">
	<div class="col-xs-4">
		<img class="img-responsive" src="{{ review.reviewimg.url }}" />
	</div>
	<div class="col-xs-8">
	<p>평점 : {{ review.score }}</p>
	<p>코멘트 : {{ review.content }}</p>
	</div>
</div>
<hr/>
<p class="text-right"><a href="{% url 'productdetail' review.product.url %}" class="btn btn-lg btn-primary">제품 보기</a></p>

{% endblock %}