{% extends "base.html" %}

{% block content %}

{% for review in reviewlist %}
	<div class="row">
		<div class="col-xs-4">
			이미지위치
		</div>
		<div class="col-xs-8">
			<h4>{{ review.product }}</h4>
			<h5>{{ review.author }}, {{ review.regdate }}</h5>
			<p>{{ review.content }}</p>
		</div>
	</div>
{% endfor %}



<div class="pagination">
    <span class="step-links">
        {% if reviewlist.has_previous %}
            <a href="?page={{ reviewlist.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ reviewlist.number }} of {{ reviewlist.paginator.num_pages }}.
        </span>

        {% if reviewlist.has_next %}
            <a href="?page={{ reviewlist.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock %}

